@import '~@angular/material/theming';
@import url(abc.css);

.foobar {
	background: url(/efg.jpg);
}

:host {
	>h3 {
		margin: 1.5rem 0 1rem 0;
	}
}

h2,
h3 {
	margin: 0 0 0 0;
}

a {
	text-align: right;
}

mat-card {
	padding: 0;
}
