node_modules
/npm-debug.log
.DS_Store
/bower_components
/dist
/logs
/certificate
.vscode
*.log
/tsconfig.json
*.bak
/tslint.json
/dr.backup.package.json
**/*.js.map
**/*.d.ts.map
.prettierignore
prettier.config.js
src/tools/json-schema-gen/tsconfig.json
main/drcp-types/tsconfig.json
src/tools/prebuild/tsconfig.json
src/runtime/assets-processer/tsconfig.json
src/runtime/express-app/tsconfig.json
src/internal/ng-app-builder/tsconfig.json
src/tools/http-request-proxy/tsconfig.json
src/runtime/http-server/tsconfig.json
src/legacy/webpack2-builder/tsconfig.json
src/internal/cra-scripts/tsconfig.json
main/redux-toolkit-observable/tsconfig.json
src/internal/webpack-common/tsconfig.json
src/legacy/font-clip/tsconfig.json
src/legacy/translate-generator/tsconfig.json
src/react/react-redux-base/tsconfig.json
src/tools/e2etestHelper/tsconfig.json
src/tools/tool-misc/tsconfig.json
src/tools/vendor-binary/tsconfig.json
-------9/25/2020---------
main/install-cli/tsconfig.json