registry=https://registry.npmmirror.com
# You can customize npm registry for coc.nvim by add coc.nvim:registry in the file ~/.npmrc:
coc.nvimi:registry=https://registry.npmmirror.com
# sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
# electron_mirror=https://npm.taobao.org/mirrors/electron/
legacy-peer-deps=true
