import Promise from 'promise-polyfill';
if (!window.Promise) {
  window.Promise = Promise;
}
<% if (hmrEnabled) { %>
require('webpack-hot-middleware/client');
<% } %>

<% if (lrEnabled) { %>
if (!window.__livereload) {
  var livereload = document.createElement('script');
  livereload.type='text/javascript';
  livereload.async = true;
  livereload.src = 'http://' + (location.host || 'localhost').split(':')[0] + ':<%= lrPort %>/livereload.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(livereload, s);
  window.__livereload = true;
}
<% } %>
window.__req = __webpack_require__;
var ef = window._lego_entryFuncs;
if (!ef) {
  ef = window._lego_entryFuncs = {};
}
<%
[].concat(packages).forEach((pk, idx) =>  {%>
ef['<%=pk.longName%>'] = function() {return require('<%=pk.longName%>');};
<% }); %>

window._reqLego = function(name) {
  return ef[name]();
};
<% for (var requireHtmlName of requireHtmlNames) { %>
require('<%=requireHtmlName%>');
<% } %>
<% for (var requireViewName of requireViewNames) { %>
require("<%=requireViewName%>");
<% } %>
