.host {
  flex-basis: 0%;
  flex-shrink: 1;
  // In case resizing window to smaller size, "overflow: hidden"
  // makes the outer DIV able to shrink itself regardless the size of child
  // element canvas has been fixed to a big size.
  // So that, reactiveCanvas can re-calculate size based on the newly changed
  // size of the outer DIV
  overflow: hidden;
  canvas {
    display: block;
    margin: auto;
  }
}
