@use "theme";
@use "@material/button/mdc-button";
// @use "@material/button/styles";
// .matButton {
//   text-align: center;
// }

// https://github.com/css-modules/css-modules

.ripple {
  position: absolute;
  height: 100%;
  width: 100%;
}
