@use "theme";
@use "@material/drawer";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}