@use "theme";
@use "@material/ripple" with (
  $fade-in-duration: 75ms ,
  $fade-out-duration: 150ms ,
  $translate-duration: 500ms ,
  $states-wash-duration: 15ms
);
@use "@material/ripple/styles";


.matRipple {
  @include ripple.surface;
  @include ripple.radius-bounded;

  flex: 1;

  &.dark {
    @include ripple.states-base-color(black);
    @include ripple.states-opacities((hover: .1, focus: .15, press: .15));
    &.raised-btn {
      @include ripple.states-base-color(theme.$raised-btn-ripple-color);
    }
  }
  &.light {
    @include ripple.states-base-color(white);
    @include ripple.states-opacities((hover: .1, focus: .15, press: .15));
    &.raised-btn {
      @include ripple.states-base-color(theme.$raised-btn-ripple-color);
    }
  }
}

