@use "theme";
@use "icon-fonts";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

.mdc-top-app-bar {
  @include icon-button.core-styles;
  position: absolute;
  z-index: 7;
}
