
$anim-duration: 0.33s;

.scope {
  position: relative;
  &.full {
    display: flex;
    flex-direction: column;
    .movingBox {
      flex: 1;
    }
  }
  &.animate-opacity {
    .enterStart {
      opacity: 0;
      transition: opacity linear $anim-duration;
      &.entering {
        // opacity: 0;
        // display: none;
        opacity: 1;
      }
    }

    // https://github.com/css-modules/css-modules
    .leaving {
      position: absolute;
      transition: opacity linear $anim-duration;
      opacity: 0;
    }
  }
}

$transition: opacity linear $anim-duration, transform ease-out $anim-duration;
.enterStart {
  opacity: 0;
  transform: translate3d(0, 33%, 0);
  transition: $transition;
  &.entering {
    // opacity: 0;
    // display: none;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

// https://github.com/css-modules/css-modules
.leaving {
  position: absolute;
  transform: translate3d(0, -50%, 0) scale(0.67) translate3d(0, 50%, 0);
  transition: $transition;
  overflow: hidden;
  opacity: 0;
}
