
$anim-duration: 0.4s;

.scope {
  position: relative;
  &.full {
    display: flex;
    flex-direction: column;
    .movingBox {
      flex: 1;
    }
  }
  &.animate-opacity {
    .enterStart {
      opacity: 0;
      will-change: opacity;
      transition: opacity linear $anim-duration;
      transform: none;

      &.entering {
        transform: none;
        opacity: 1;
      }
    }

    // https://github.com/css-modules/css-modules
    .leaving {
      position: absolute;
      transform: none;
      transition: opacity linear $anim-duration;
      opacity: 0;
    }
  }
}

$transition: opacity linear $anim-duration, transform ease-out $anim-duration;
.enterStart {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: $transition;
  will-change: opacity, transform;
  &.entering {
    // opacity: 0;
    // display: none;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

// https://github.com/css-modules/css-modules
.leaving {
  position: absolute;
  will-change: opacity, transform;
  transform: translate3d(0, -100px, 0);
  transition: $transition;
  // overflow: hidden;
  opacity: 0;
}
