@use 'appLayout';
@use '../material/theme.scss';

.app-bar {
  &-header {
    // background: linear-gradient(to right, #EFEEDD 0%,white 100%);
    // background-color: #e5e4d4!important;
    background-color: rgba(255,255,255, 0)!important;
    color: rgba(0,0,0,0.9)!important;
    transition: box-shadow 0.2s linear, background-color 0.2s linear;
    &.withShadow {
      box-shadow: 0 2px 10px rgba(0,0,0,0.4);
      background-color: rgba(255,255,255, 0.2)!important;
      backdrop-filter: blur(20px);
    }
  }
  &-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

// https://github.com/css-modules/css-modules

.container {
  height: 100%;
}
.backLayer {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: stretch;
}
.frontLayer {
  flex-grow: 1;
  // padding: appLayout.$frontLayer-padding;
  display: flex;
  align-items: stretch;
  overflow: auto;
  > :global(.mdc-layout-grid) {
    flex-grow: 1;
    margin: 0;
  }
}
.progressBarContainer {
  position: relative;

  // nested to override Material default style "position"
  .routeProgressBar {
    position: absolute;
    z-index: 999;
    // position: absolute !important;
    top: 0;
  }
}
