@use 'appLayout';
.app-bar {
  &-header {
    background-color: #F9F4D2!important;
    color: rgba(0,0,0,0.7)!important;
    transition: box-shadow 0.2s linear;
    &.withShadow {
      box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    }
  }
  &-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

// https://github.com/css-modules/css-modules

.container {
  display: flex;
  flex-direction: column;
}
.backLayer {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.frontLayer {
  flex: 1;
  padding: appLayout.$frontLayer-padding;
  display: flex;
  align-items: stretch;
  overflow: auto;
}
.progressBarContainer {
  position: relative;

  // nested to override Material default style "position"
  .routeProgressBar {
    position: absolute;
    z-index: 999;
    // position: absolute !important;
    top: 0;
  }
}

