@use 'appLayout';
@use '@wfh/material-components-react/client/theme.scss';

.app-bar {
  &-header {
    // background: linear-gradient(to right, #EFEEDD 0%,white 100%);
    // background-color: #e5e4d4!important;
    background-color: rgba(255,255,255, 0)!important;
    color: rgba(0,0,0,0.9)!important;
    transition: box-shadow 0.2s linear, background-color 0.2s linear;
    &.withShadow {
      box-shadow: 0 1px 8px rgba(0,0,0,0.2);
      background-color: rgba(255,255,255, 0.7)!important;
      backdrop-filter: blur(20px);
    }
  }
  &-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.titleSwitchBox {
  overflow: hidden;
  text-overflow: ellipsis;
}

// https://github.com/css-modules/css-modules

.container {
  height: 100%;
}
.backLayer {
  position: relative;
  z-index: 1;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: stretch;
}
.scrollableTopEdge {
  position: absolute;
  top: 0;
}
.frontLayer {
  position: relative;
  flex-grow: 1;
  // padding: appLayout.$frontLayer-padding;
  display: flex;
  align-items: stretch;
  overflow: auto;
  > :global(.mdc-layout-grid) {
    flex-grow: 1;
    margin: 0;
  }
}
.progressBarContainer {
  position: relative;

  // nested to override Material default style "position"
  .routeProgressBar {
    position: absolute;
    z-index: 999;
    // position: absolute !important;
    top: 0;
  }
}
.footer {
  background: linear-gradient(to right, transparent 0%, rgba(0,0,0,0.1) 100%);
  padding: 1.5rem;
  text-align: center;
}
