.logo {
  position: relative;
  display: inline-block;
  background-image: url(./images/company-logo-transparent.png);
  width: 110px;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  &::before {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    padding-top: 24.188%;
  }
}
.bk-logo {
  display: inline-block;
  background-image: url(./images/company-logo-color.png);
  height: 40px;
  width: 123px;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articale-page {
  display: flex;
  min-height: 100%;
}

// https://github.com/css-modules/css-modules
