// @import "@material/ripple/styles";
@use "@wfh/doc-ui-common/client/material/theme";
// @use "@material/theme" as mdcTheme;

:global body {
  // margin: 0;
  background-color: theme.$background;
}

:global #root {
  min-height: 100%;
}
a {
  // text-decoration: none;
  color: theme.$primary;
  // font-weight: bold;
  // min-height: 48px;
}
// @debug theme.$background;
// @debug theme.$primary;

:global .is-windows {
  :global(::-webkit-scrollbar) {
    width: 6px;
    height: 6px;
  }
  :global(::-webkit-scrollbar-button), :global(::-webkit-scrollbar-corner) {
    display: none;
  }
  :global(::-webkit-scrollbar-thumb) {
    min-height: 2rem;
    background-clip: padding-box;
    // border-width: 5px;
    // border-style: solid;
    // border-color: red;
    // border-image: initial;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.3);
    width: 6px;
  }
  :global(::-webkit-scrollbar-track) {
    background-color: rgba(255,255,255,0.5);
  }
}
